html {
  font-size: 10px;
}

* {
  /* border: 1px solid pink; */
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e6e6e6;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-size: clamp(3rem, 7vw, 6rem);
}
h2 {
  font-size: clamp(1.75rem, 3.5vw, 3.5rem);
}
h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

/* page menu */

.menu-trigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 2rem;
  max-width: 3%;
  height: 100vh;
  z-index: 1300;
}

.sidebar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  min-width: 4%;
  max-width: 100px;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.9s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #f2e900;
  gap: 1rem;
  z-index: 1200;
}

.sidebar.menu-open {
  transform: translateX(0);
}

.menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  font-size: clamp(1rem, 3vw, 2rem);
}

.menu-link {
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  text-decoration: none;
  color: black;
  font-weight: 600;
  letter-spacing: 0.1em;

  display: inline-block;

  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease;
}

.menu-link:hover {
  text-shadow: 0 0 5px rgba(230, 237, 243, 0.7);
  transform: rotate(180deg) rotate(5deg) scale(1.05);
  color: #ffffff;
}

.connect {
  flex: 1;
}

.social-icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.icon {
  width: 1.5em;
  height: 1.5em;
  color: black;
  fill: currentColor;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.icon-white {
  width: 1.5em;
  height: 1.5em;
  color: rgb(255, 255, 255);
  fill: currentColor;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.icon:hover {
  transform: rotate(10deg) scale(1.35);
  filter: drop-shadow(0 6px 10px rgba(255, 255, 255, 0.9));
  color: white;
}

.icon-white:hover {
  transform: rotate(10deg) scale(1.35);
  filter: drop-shadow(0 6px 10px rgba(255, 255, 255, 0.9));
  color: rgb(2, 2, 2);
}

.footer-trigger {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  max-height: 2%;
  z-index: 1300;
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.9s ease;
  background-color: #20202070;
  gap: 1rem;
  z-index: 1200;
}

.footer.is-open {
  transform: translateY(0);
}

.footer a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer a:hover {
  transform: rotate(10deg) scale(1.35);
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.9));
  color: white;
}

/* main part */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  min-width: 0;
}

.greeting {
  background-color: #0b0b0b;
  display: grid;
  grid-template-rows: 1fr 30rem;
  align-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #fff;
  grid-row: 1;
  grid-column: 1;
}

.greeting-text {
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  padding: 5rem 4rem 0 4rem;
  margin-left: 4rem;
}

.my-name,
.last-name {
  margin: 0;
  line-height: 0.9;
  padding-left: 2rem;
}

.last-name {
  display: block;
  font-size: clamp(3rem, 7vw, 6rem);
  padding-left: 4rem;
}

.hi-there {
  line-height: 0.9;
}

.occupation {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 1000;
  line-height: 0.9;
  font-size: clamp(3rem, 4.5vw, 4.5rem);
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  font-weight: 700;
  font-size: clamp(2rem, 4.5vw, 4rem);
}

.passion {
  align-self: center;
}

button.contact-me {
  grid-row: 2;
  display: inline-block;
  padding: 0.7rem 1rem;
  justify-self: center;
  align-self: center;
  background-color: #f2e900;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  font-weight: 700;
  transition: background-color 0.8s ease;
}

button.contact-me:hover {
  background-color: #fff;
}

button.contact-me a {
  text-decoration: none;
  color: #0b0b0b;
}

.logo-box {
  background-color: #f2e900;
  display: grid;
  grid-template-rows: 1fr 30rem;
  align-content: center;
  justify-content: center;
}

.logo {
  justify-self: center;
  align-self: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

button.my-projects {
  grid-row: 2;
  display: inline-block;
  padding: 0.7rem 1rem;
  justify-self: center;
  align-self: center;
  background-color: #0b0b0b;
  color: #fff;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  font-weight: 700;
  transition: background-color 0.8s ease;
}

button.my-projects:hover {
  background-color: #fff;
  color: black;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 1.4vw, 2rem);
  font-weight: 700;
}

button.my-projects a {
  text-decoration: none;
  color: #fff;
}

button.my-projects:hover a {
  text-decoration: none;
  color: #0b0b0b;
}

.hide-section {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  margin: auto;
 
  background: #0b0b0b;
  color: #fff;

  z-index: 1100;

  transform: translate(0, -100%);
  transition: transform 0.9s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10rem;

  font-size: clamp(1.4rem, 1.6vw, 2.2rem);
}

.hide-section:target {
  transform: translate(0);
  grid-template-rows: 1fr;
}

.hide-section h2 {
  align-self: flex-start;
  margin: 0;
}

.hide-section-text {
  margin: 0;
}

a.close-window {
  position: absolute;
  text-decoration: none;
  top: 5rem;
  right: 5rem;
  color: #fff;
  font-weight: 900;
  font-size: clamp(2rem, 3vw, 3rem);
  transition: transform 0.8s ease;
  display: inline-block;
}

a.close-window:hover {
  text-shadow: 0 0 5px rgba(230, 237, 243, 0.7);
  transform: rotate(15deg) scale(1.05);
  color: #ffffff;
}

.close-icon {
  width: 1em;
  height: 1em;
  color: #fff;
  fill: currentColor;
}

#experience h2 {
  padding-left: 0.5rem;
}

.experience {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 1.6rem;
}

.experience-card {
  display: grid;
  grid-template-rows: auto auto 1fr;
  border: 1px solid rgb(24, 23, 23);
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: rgb(75, 75, 75);
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition:
    box-shadow 0.8s ease,
    transform 0.8s ease;
}

.experience-card:hover {
  box-shadow:
    0 0 10px rgba(242, 233, 0, 0.8),
    0 0 20px rgba(242, 233, 0, 0.6),
    0 0 40px rgba(242, 233, 0, 0.4);
  transform: scale(1.2);
  background-color: rgb(111, 109, 109);
  color: white;
}

.experience-card:focus-visible {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.2);
  background-color: rgb(111, 109, 109);
  color: white;
}

.experience-card h3 {
  color: #f2e900;
}

.experience-card .period {
  place-content: center;
}

.experience-card b {
  display: inline-block;
  transition:
    transform 0.9s ease,
    text-shadow 0.9s ease;
}

.experience-card b:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px rgb(219, 219, 216);
}

.skills-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-left: 0;
}

.skills-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(59, 59, 57, 0.61);
  padding: 3rem;
  border-radius: 12px;
  transition:
    box-shadow 0.8s ease,
    transform 0.8s ease;
}

.skills-list li svg {
  width: 18px;
  height: 18px;
}

.skills-list li:hover {
  box-shadow:
    0 0 10px rgba(242, 233, 0, 0.8),
    0 0 20px rgba(242, 233, 0, 0.6),
    0 0 40px rgba(242, 233, 0, 0.4);
  transform: scale(1.14);
  z-index: 10;
  background-color: rgb(111, 109, 109);
  color: white;
}
.skills-list li:focus-visible {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.4);
  z-index: 10;
  background-color: rgb(111, 109, 109);
  color: white;
}

body.page-message {
  background: #0b0b0b;
  color: #fff;
}

.leave-message-layout,
#messages {
  place-content: center;
  place-items: center;
  padding: 1rem;
}

.leave-message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.leave-message-form input {
  padding: 1rem;
  width: 30rem;
}

.leave-message-form textarea {
  width: 30rem;
  height: 10rem;
}

.leave-message-form label {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  font-weight: 700;
  align-self: flex-start;
  margin: 0.5rem;
  cursor: pointer;
}

.leave-message-form button {
  background-color: #f2e900;
  color: #0b0b0b;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  font-weight: 700;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.leave-message-form button:hover {
  background-color: #ffffff;
  color: #0b0b0b;
}

#messages button {
  background-color: #f2e900;
  color: #0b0b0b;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  font-weight: 700;
  margin: 0.5rem;
  transition: background-color 0.4s ease;
}

#messages button:hover {
  background-color: #ffffff;
  cursor: pointer;
}

#messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

#messages ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0;
}

#messages li {
  padding: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 2rem;
  border: 1px solid;
}

#messages li > a,
#messages li > span {
  padding: 1rem;
  align-self: center;
}

#messages a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;

  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease;
}

#messages a:hover {
  text-shadow: 0 0 5px rgba(230, 237, 243, 0.7);
}

#messages.hide-message-section {
  display: none;
}

.project-list {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-left: 0;
}


.project-card {
  display: inline-block;
  position: relative;
  height: 6rem;
  min-width: 20rem;
  justify-content: center;
}

.project-card a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  align-self: center;
  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease;
}


.project-card .title-text {
  opacity: 1;
  transition: opacity 0.9s ease;
}

.project-card:hover .title-text {
  opacity: 0;
 }

.project-card .hover-text {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.35s ease;
  opacity: 0;
  white-space: nowrap;
}

.project-card:hover .hover-text {
  opacity: 1;
}

.project-card {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: rgba(59, 59, 57, 0.61);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  border-radius: 12px;
  gap: 1rem;
  transition:
    box-shadow 0.8s ease,
    transform 0.8s ease;
}

.project-list li:hover {
  transform: scale(1.02), translateY(-6px);
  z-index: 10;
  background-color: rgb(111, 109, 109);
  color: white;
  box-shadow:
    0 0 10px rgba(242, 233, 0, 0.8),
    0 0 20px rgba(242, 233, 0, 0.6),
    0 0 40px rgba(242, 233, 0, 0.4);
}

.project-list li:focus-visible {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  z-index: 10;
  background-color: rgb(111, 109, 109);
  color: white;
}

@media (max-width: 1270px) {
  .experience {
    display: inline-block;
  }

  .experience-card {
    margin: 1rem;
  }

  .experience-card:hover {
    transform: scale(1.05);
  }

  .experience-card:focus-visible {
    transform: scale(1.05);
  }
}

@media (max-width: 999px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .greeting {
    grid-column: 1;
    grid-row: 2;
  }

  .logo-box {
    grid-column: 1;
    grid-row: 1;
  }

  .sidebar {
    border-right: 1px solid #0b0b0b;
  }

  button.contact-me {
    margin: 10rem 0;
  }

  button.my-projects {
    margin: 10rem 0;
  }
  .sidebar {
    min-width: 8%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.9s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: #f2e900;
    gap: 1rem;
    z-index: 1200;
  }
}

@media (max-width: 820px) {
  .hide-section {
    position: relative;

    background: #0b0b0b;
    color: #fff;

    z-index: 0;

    transform: translate(0);
    transition: transform 0.9s ease;

    padding: 1rem 3rem;
    margin: 0;
  }

  a.close-window {
    display: none;
  }

  .hide-section h2 {
    align-self: center;
    margin: 0;
  }

  .menu {
    justify-content: flex-start;
    margin-top: 5rem;
  }

  .social-icons {
    justify-content: flex-start;
  }

  #messages li {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  #messages li > * {
    padding: 1rem;
    align-self: flex-start;
  }
}
